body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.__item:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,.05);
}

.toast-error{
  background-color: #BD362F !important;
}
.toast-warning {
  background-color: #F89406 !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-info {
  background-color: #839ca3 !important;
}